/* Background for all pages. */

html {
  background: url(./images/ruby.jpg) no-repeat center fixed;
  background-size: cover;
}

/* Navigation bar for all pages. */
.topnav {
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid red;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

/* Base for all pages (in theory). */
* {
  font-family: Arial, Verdana, sans-serif;
  color: white;
  text-align: center;
}

li {
  display: inline-block;
  padding: 5px;
}

/* Header block dealio */
h1 {
  border: 2px solid red;
  background-color: black;
  border-radius: 100px;
}

h2 {
  border: 2px solid red;
  background-color: black;
  border-radius: 100px;
}

h3 {
  border: 2px solid red;
  background-color: black;
  border-radius: 100px;
}

/*p {
  background-color: black;
}*/

/* Index specific CSS*/
/*img {
    width:  250px;
    height: 350px;
}*/

/* Eloquent_Ruby specific CSS */
/*#ER {
  float: left;
}*/

#ER {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    column-fill: auto;
}

#Reviews {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    column-fill: auto;
}

/* Contact specific CSS */
.Hedwigisawesome {
  float: left;
}

.Contact {
  float: right;
}

/* Footer */
.footer {
  position: bottom;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: grey;
  border-top: 2px solid red;
  border-radius: 10px;
  background-color: black;
  text-align: center;
}
