/* Background for all pages. */

html {
    background: url(./images/ruby.jpg) no-repeat center fixed;
    background-size: cover;
}

/* Navigation bar for all pages. */
.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

/* Base for all pages (in theory). */
 * {
   font-family: Arial, Verdana, sans-serif;
   color: white
   ;
   text-align: center;
 }

 #nav, #feature, .article, #footer {
   margin-top: 20px;
   padding: 10px 0px 5px 0px;
 }

 #feature, .article {
   height: 100px;
 }

 li {
   display: inline;
   padding: 5px;
 }

/*ul {
  List-style: none
}*/

/* Footer */
.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}
